$nav-height: 60px;
$padding: 25px;
$side-padding: 15vw;

$nav-color: rgb(36, 116, 201);
$second-color: rgb(64, 172, 225);
$bg-color:rgb(230,233,238);
$bg-primary-color: rgb(255,255,255);
$font-second-color: #F0F0F0;
$font-color: #303030;
$font-color-light: #606060;
$border-color: rgb(200,203,208);
$shadow: 0 2px 4px 0 #0f18360d;
