$nav-height: 60px;
$padding: 25px;
$side-padding: 10vw;

$nav-color: #3381da;
$second-color: #40ace1;
$bg-color:rgb(230,233,238);
$bg-primary-color: rgb(255,255,255);
$font-second-color: #F0F0F0;
$font-color: #303030;
$shadow: 0 2px 4px 0 #0f18360d;
