.counter {
  width: 100%;
  text-align: right;
  opacity: 0.5;
}

.testing-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    text-align: center;
  }
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.answer-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

}

