.counter {
  width: 100%;
  text-align: right;
  opacity: 0.5;
}

.testing-card {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h3 {
    text-align: left !important;
  }

  p{
    text-indent: 0 !important;
  }
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

.answer-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 20px;

}

