@import '../../../../scss/variables.scss';

.stats-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 2000px) {
    gap: 25px;
    font-size: 1.25rem;
  }

  .beginning {
    margin-top: 20px;

    @media (min-width: 2000px) {
      margin-top: 40px;
    }
  }

  .answer-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    @media (min-width: 2000px) {
      gap: 15px;
    }

    .progress-bar {
      width: 100%;
      border-radius: 5px;
      height: 10px;
      background-color: $bg-color;
      overflow: hidden;

      @media (min-width: 2000px) {
        height: 20px;
        border-radius: 10px;
      }

      .bar {
        height: 100%;
        background-color: $second-color;
      }
    }
  }

  .own-answers {
    margin-bottom: 15px;
    display: grid;
    width: 100%;
    gap: 5px;
    overflow: hidden;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.3s ease;

    @media (min-width: 2000px) {
      gap: 10px;
    }

    .arrow {
      width: 0.7em;
      height: 0.7em;
      border-right: 0.2em solid $second-color;
      border-bottom: 0.2em solid $second-color;
      cursor: pointer;
      transition: 0.3s ease;
      transform: rotate(-45deg);
      margin-right: 10px;
    }

    .answer-header {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .answer-content{
      overflow: hidden;
    }

    
    &.open {
      grid-template-rows: auto 1fr;

      .answer-content {
        display: bloc;
      }

      .arrow {
        transform: rotate(45deg);
      }
    }
  }
}