@import '../../../../scss/variables.scss';

.stats-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 2000px) {
    gap: 25px;
    font-size: 1.5rem;
  }

  .beginning {
    margin-top: 20px;

    @media (min-width: 2000px) {
      margin-top: 40px;
    }
  }

  .answer-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    @media (min-width: 2000px) {
      gap: 15px;
    }

    .progress-bar {
      width: 100%;
      border-radius: 5px;
      height: 10px;
      background-color: $bg-color;
      overflow: hidden;

      @media (min-width: 2000px) {
        height: 25px;
      }

      .bar {
        height: 100%;
        background-color: $second-color;
      }
    }
  }
}