.test-list-header {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  gap: 10px;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.test-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 15px;
}