@import '../../scss/variables.scss';

nav {
  height: $nav-height;
  background-color: $nav-color;
  color: $font-second-color;
  padding: 5px 20px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;

  a {
    color: $font-second-color;
    text-decoration: none;
  }
}