@import '../../../scss/variables.scss';

.toast-manager {
  position:fixed;
  top: 20px;
  right: 20px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

}