<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="http://195.138.81.28:3000" />
				<add name="Access-Control-Allow-Methods" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Private-Network" value="true" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>