@import '../../../scss/variables.scss';

.toast {
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9em;
  color: $font-second-color;
  animation-name: toast;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @keyframes toast {
    0% {
      transform: translateX(200%);
    }
    10%,90% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  
  &.Success {
    background-color: rgb(51, 213, 99);
  }

  &.Warning {
    background-color: rgb(225, 185, 53);
  }

  &.Error {
    background-color: rgb(255, 65, 97);
  }

  .toast-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 600;
  }
}