@import '../../../scss/variables.scss';

.app-body {
  background-color: $bg-color;
  height:100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-body-body {
  padding: $padding $side-padding ;
  width: inherit;
}