@import '../../../scss/variables.scss';

.homepage {
  position: relative;
  padding: 20px calc(50% + 10px) 20px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home-image {
  position: absolute;
  width: calc(50% + #{$padding});
  height: calc(100% + 2 * #{$padding});
  border-radius: 0 10px 10px 0;
  object-fit: cover;
  top: calc(-1 * #{$padding});
  bottom: calc(-1 * #{$padding});
  right: calc(-1 * #{$padding});
}